
.input_input {
    height: 36px;

    margin-bottom: 18px;
    padding: 10px 14px;

    text-align: left;

    border: 1px solid #D6D7DD;
    border-radius: 9px;

    font-size: 15px;
    font-weight: 500;
    display: block;
}